body {
  background: url(https://www.transparenttextures.com/patterns/arches.png) repeat #ffffc5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('font/SuisseIntl-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntlLight';
  src: url('font/SuisseIntl-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*for mobiles*/

.container {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

#intro {
  height: 700px;
  background: linear-gradient(#47d9e9, transparent 100%);
}

.banner {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 90%;
  height:auto;
  display: flex;
  align-items: center;
  Justify-content: space-between;
  font-weight: bold;
  font-family: 'SuisseIntl';
  color: #000;
  border-bottom: 1px solid #000;
  z-index: 1;
}

.banner .title {
  font-size: 16px;
  font-weight: bold;
  font-family: 'SuisseIntl';
}

.banner .lang {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

/* Custom dropdown */
.dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: -5px;
  font-size: 18px;
}

.dropdown.toggle>input {
  display: none;
}

.dropdown>a,
.dropdown.toggle>label {
  border-radius: 2px;
}

.dropdown>a::after,
.dropdown.toggle>label::after {
  content: "";
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.dropdown a,
.dropdown.toggle>label {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: transparent;
}

.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;

}

.dropdown.hover li {
  transition-delay: 300ms;
}

.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}

.dropdown a:hover,
.dropdown.toggle>label:hover,
.dropdown.toggle>input:checked~label {
  background-color: transparent;
  color: #f5f5f5;
}

.dropdown.toggle>label:hover::after,
.dropdown.toggle>input:checked~label::after {
  border-top-color: #f5f5f5;
}

.dropdown.toggle>input:checked~ul li {
  height: 35px;
}

/* Custom dropdown */
.appetizer {
  position: relative;
  top: 12%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: large;
  color: #000;
}

.appetizer .text {
  width: 100%;
  height: 100%;
}

.appetizer .text h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'SuisseIntl';
}

.appetizer .text p {
  margin-top: 3%;
  font-size: 20px;
  font-family: 'SuisseIntlLight';
}

.appetizer .image img {
  display: none;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bubble {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 100px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.bubble img {
  position: relative;
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
  z-index: 2;
}

.bubble span {
  position: relative;
  font-size: 20px;
  object-fit: contain;
  font-family: 'SuisseIntl';
  z-index: 2;
  font-weight: 700;
}

.smaller {
  position: absolute;
  width: 60%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.smaller a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.smaller a span {
  text-decoration: none;
  color: #000;
  font-family: "SuisseIntl";
  font-size: 15px;
  text-align: center;
}

.smaller img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.text-description {
  position: absolute;
  padding: 7px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: normal;
  width: 500%;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  text-align: left;
  font-family: 'SuisseIntl';
  transition: opacity 0.2s ease;
}

.text-description h3 {
  margin: 0;
  font-family: 'SuisseIntl';
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.border {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  z-index: 1;
}



@media only screen and (min-width: 1050px) {

  /* For Desktops: */
  body {
    height: 200vh;
  }

  html {
    scroll-snap-type: y mandatory;
  }

  .container {
    width: 100%;
    height: 50% !important;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .banner {
    height: 9%;
    align-items: end;
  }
  .banner .title {
    font-size: 32px;
  }
  .banner .lang {
    display: flex;
    justify-content: flex-end;
    width: 10%;
  }
  .appetizer {
    top: 10%;
  }
  .appetizer .text {
    width: 35%;
    height: 100%;
  }

  .appetizer .image {
    margin-top: 2%;
    float: right;
    width: 60%;
  }

  .appetizer .image img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  .bubble {
    position: absolute;
  }

  .bubble span {
    font-size: 20px;
    font-weight: 700;
  }

  .bubble:hover {
    transition: background-color 0.2s ease;
    z-index: 3;
  }

  .smaller {
    width: 95px;
    height: 70px;
  }

  .text-description {
    position: absolute;
    padding: 7px;
    color: #000;
    border-radius: 5px;
    white-space: normal;
    width: 500%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    text-align: left;
    font-family: 'SuisseIntl';
    transition: opacity 0.2s ease;
  }

  .text-description h3 {
    margin: 0;
    font-family: 'SuisseIntl';
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
  }

  .smaller:hover .text-description {
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }

  .text-description:hover {
    display: none;
  }

  /*category 1*/

  #bubble1 {
    transform: translate(-400px, -125px) rotate(0deg);
  }

  #bubble1 .text-description {
    left: 100%;
    top: 0%;
    background-color: #a6a7ff;
  }

  /*category 2*/

  #bubble2 {
    transform: translate(-200px, 125px) rotate(0deg);
  }

  #bubble2 .text-description {
    left: 100%;
    bottom: 0%;
    background-color: #ffac4e;
  }

  /*category 3*/

  #bubble3 {
    transform: translate(0px, -125px) rotate(0deg);
  }

  #bubble3 .text-description {
    left: 100%;
    top: 0%;
    background-color: #9ffc36;
  }

  /*category 4*/

  #bubble4 {
    transform: translate(200px, 125px) rotate(0deg);
  }

  #bubble4 .text-description {
    right: 100%;
    bottom: 0%;
    background-color: #fda4c6;
  }

  /*category 5*/

  #bubble5 {
    transform: translate(400px, -125px) rotate(0deg);
  }

  #bubble5 .text-description {
    right: 100%;
    top: 0%;
    background-color: #54cbfa;
  }

}

/*Category 1*/

#border1 {
  background: radial-gradient(circle farthest-side, #a6a7ff, transparent 100%);
}

#Semainedeladurabilité {
  background-color: transparent;
  transform: translate(0px, -126px) rotate(0deg);
}

#CSAWClimateSustainabilityActionWeek {
  background-color: transparent;
  transform: translate(-119px, -39px) rotate(0deg);
}

#lecanardhuppé {
  background-color: transparent;
  transform: translate(-74px, 102px) rotate(0deg);
}

#EPFLCourses {
  background-color: transparent;
  transform: translate(74px, 102px) rotate(0deg);
}

#Fresqueduclimat {
  background-color: transparent;
  transform: translate(119px, -39px) rotate(0deg);
}

/*Category 2*/

#border2 {
  background: radial-gradient(circle farthest-side, #fb8b0c, transparent 100%);
}

#Slowtacarrière {
  background-color: transparent;
  transform: translate(0px, -126px) rotate(0deg);
}

#Meubléco {
  background-color: transparent;
  transform: translate(-114px, -52px) rotate(0deg);
}

#associationdébouchésdurables {
  background-color: transparent;
  transform: translate(-68px, -106px) rotate(0deg);
}

#Meubléco {
  background-color: transparent;
  transform: translate(-114px, -52px) rotate(0deg);
}

#Bibliothèqued’objets {
  background-color: transparent;
  transform: translate(-124px, 18px) rotate(0deg);
}

#Fixn’ReplaceRepaircafé {
  background-color: transparent;
  transform: translate(-95px, 82px) rotate(0deg);
}

#Pointvélo {
  background-color: transparent;
  transform: translate(-35px, 120px) rotate(0deg);
}

#PointSmartCellphones {
  background-color: transparent;
  transform: translate(35px, 120px) rotate(0deg);
}

#CoachingSustainability {
  background-color: transparent;
  transform: translate(95px, 82px) rotate(0deg);
}

#MarchéEPFL {
  background-color: transparent;
  transform: translate(124px, 18px) rotate(0deg);
}

#EpiceriecoopérativeleVorace {
  background-color: transparent;
  transform: translate(114px, -52px) rotate(0deg);
}

#CastorFreegan {
  background-color: transparent;
  transform: translate(68px, -106px) rotate(0deg);
}

/*Category 3*/

#border3 {
  background: radial-gradient(circle farthest-side, #95F823, transparent 100%);
}

#Unipoly {
  background-color: transparent;
  transform: translate(0px, -126px) rotate(0deg);
}

#Polyquity {
  background-color: transparent;
  transform: translate(-68px, -106px) rotate(0deg);
}

#PlanQueer {
  background-color: transparent;
  transform: translate(-114px, -52px) rotate(0deg);
}

#Queermanence {
  background-color: transparent;
  transform: translate(-124px, 18px) rotate(0deg);
}

#ZeroEmissionGroup {
  background-color: transparent;
  transform: translate(-95px, 82px) rotate(0deg);
}

#LaConvergence {
  background-color: transparent;
  transform: translate(-35px, 120px) rotate(0deg);
}

#Ingénieur·esdumonde {
  background-color: transparent;
  transform: translate(35px, 120px) rotate(0deg);
}

#FermedeBassenges {
  background-color: transparent;
  transform: translate(95px, 82px) rotate(0deg);
}

#Associationdesétudiant·esvégan·esetanimalistes {
  background-color: transparent;
  transform: translate(124px, 18px) rotate(0deg);
}

#AmnestydesHautesEcolesLausannoises {
  background-color: transparent;
  transform: translate(114px, -52px) rotate(0deg);
}

#ThriftstoreUPFashionLab {
  background-color: transparent;
  transform: translate(68px, -106px) rotate(0deg);
}

/*Category 4*/

#border4 {
  background: radial-gradient(circle farthest-side, #ff70a6, transparent 100%);
}

#EPFLChangemakers {
  background-color: transparent;
  transform: translate(0px, -126px) rotate(0deg);
}

#Ucreate {
  background-color: transparent;
  transform: translate(-119px, -39px) rotate(0deg);
}

#Make {
  background-color: transparent;
  transform: translate(-74px, 102px) rotate(0deg);
}

#Durabilis {
  background-color: transparent;
  transform: translate(74px, 102px) rotate(0deg);
}

#Skil {
  background-color: transparent;
  transform: translate(119px, -39px) rotate(0deg);
}

/*Category 5*/

#border5 {
  background: radial-gradient(circle farthest-side, #70d6ff, transparent 100%);
}

#SportscenterEPFL-UNIL {
  background-color: transparent;
  transform: translate(0px, -126px) rotate(0deg);
}

#Espace-Transitions {
  background-color: transparent;
  transform: translate(-119px, -39px) rotate(0deg);
}

#TrustandSupportNetworkTSN {
  background-color: transparent;
  transform: translate(-74px, 102px) rotate(0deg);
}

#Guidedmeditation {
  background-color: transparent;
  transform: translate(74px, 102px) rotate(0deg);
}

#ForêtdeDorigny {
  background-color: transparent;
  transform: translate(119px, -39px) rotate(0deg);
}