body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdfd96;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  padding-top: 100px;
  border-radius: 50%;
}

.bubble {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack the image and text vertically */
  justify-content: center;
  align-items: center;
  --distance: 120px;
}

.bubble img {
  /* Adjust the image size as needed */
  max-width: 70%;
  max-height: 60%;
  object-fit: contain;
}

.bubble span {
  /* Add any additional styling for the text inside the bubbles */
}

.bubble:hover {
  background-color: #39ff15 !important;
  transition: background-color 0.2s ease;
  z-index: 2;
}

.smaller {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.smaller a {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  height: 100%;
}

.smaller img {
  /* Adjust the image size as needed */
  max-width:70%;
  max-height: 70%;
  object-fit: contain; /* Fit the image within the container while preserving aspect ratio */
}

.text-description {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 7px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: normal;
  width: 400%; /* Adjust the maximum width to your preference */
  visibility: hidden;
  opacity: 0; 
  z-index: 1; 
  text-align: justify;
  transition: opacity 0.2s ease;
}

.text-description h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px; /* Add a margin between the title and the text */
  text-align: center;
}

/* Show the text description on hover */
.smaller:hover .text-description {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

/*first category*/

#bubble1 {
  background-color: #b2fba5;
  transform: translate(0, -200px) rotate(0deg);
  --nb_res: 5;
}

#epflcourses {
  background-color: #b2fba5;
  --xcoord: calc(cos(90deg)*var(--distance));
  --ycoord: calc(-1*sin(90deg)*var(--distance));
  transform: translate(var(--xcoord),var(--ycoord)) rotate(0deg); 
}

#Fresque {
  background-color: #b2fba5;
  --xcoord: calc(cos(60deg)*var(--distance));
  --ycoord: calc(-1*sin(60deg)*var(--distance));
  transform: translate(var(--xcoord),var(--ycoord)) rotate(0deg);
}

#CSAW {
  background-color: #b2fba5;
  --xcoord: calc(cos(30deg)*var(--distance));
  --ycoord: calc(-1*sin(30deg)*var(--distance));
  transform: translate(var(--xcoord),var(--ycoord)) rotate(0deg);
}

#Semaine {
  background-color: #b2fba5;
  --xcoord: calc(cos(120deg)*var(--distance));
  --ycoord: calc(-1*sin(120deg)*var(--distance));
  transform: translate(var(--xcoord),var(--ycoord)) rotate(0deg);
}

#Canard {
  background-color: #b2fba5;
  --xcoord: calc(cos(150deg)*var(--distance));
  --ycoord: calc(-1*sin(150deg)*var(--distance));
  transform: translate(var(--xcoord),var(--ycoord)) rotate(0deg);
}

/*Second category*/

#bubble2 {
  background-color: #a6e999;
  transform: translate(190.21px, -61.80px) rotate(0deg);
  --nb_res: 11;
}

#Debouches {
  --i: 0;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Carriere {
  --i: 1;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Velo {
  --i: 2;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Fix {
  --i: 3;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Smart {
  --i: 4;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Biblio {
  --i: 5;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Meubleco {
  --i: 6;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Vorace {
  --i: 7;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Castor {
  --i: 8;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Marche {
  --i: 9;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Coaching {
  --i: 10;
  background-color: #a6e999;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res))*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res))*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

/*third category*/

#bubble3 {
  background-color: #99d88e;
  transform: translate(-190.21px, -61.80px) rotate(0deg);
  --nb_res: 11;
}

#Convergeance {
  --i: 0;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Zero {
  --i: 1;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Ingenieur {
  --i: 2;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Unipoly {
  --i: 3;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Polyquity {
  --i: 4;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Planqueer {
  --i: 5;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Queermanence {
  --i: 6;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Amnesty {
  --i: 7;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#EVA {
  --i: 8;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#Bassenges {
  --i: 9;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

#UPFL {
  --i: 10;
  background-color: #99d88e;
  --xcoord: calc(cos(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  --ycoord: calc(-1*sin(var(--i) * 360deg / var(--nb_res) + 180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg);
}

/**fourth category**/

#bubble4 {
  background-color: #8dc682;
  transform: translate(-117.56px, 161.80px) rotate(0deg);
  --nb_res: 5;
}

#Make {
  background-color: #8dc682;
  --xcoord: calc(cos(150deg)*var(--distance));
  --ycoord: calc(-1*sin(150deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Durabilis {
  background-color: #8dc682;
  --xcoord: calc(cos(180deg)*var(--distance));
  --ycoord: calc(-1*sin(180deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Skil {
  background-color: #8dc682;
  --xcoord: calc(cos(210deg)*var(--distance));
  --ycoord: calc(-1*sin(210deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Changemakers {
  background-color: #8dc682;
  --xcoord: calc(cos(240deg)*var(--distance));
  --ycoord: calc(-1*sin(240deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Ucreate {
  background-color: #8dc682;
  --xcoord: calc(cos(270deg)*var(--distance));
  --ycoord: calc(-1*sin(270deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

/**fifth category**/

#bubble5 {
  background-color: #80b577;
  transform: translate(117.56px, 161.80px) rotate(0deg);
  --nb_res: 5;
}

#Sports {
  background-color: #80b577;
  --xcoord: calc(cos(30deg)*var(--distance));
  --ycoord: calc(-1*sin(30deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Transition {
  background-color: #80b577;
  --xcoord: calc(cos(0deg)*var(--distance));
  --ycoord: calc(-1*sin(0deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#TSN {
  background-color: #80b577;
  --xcoord: calc(cos(-30deg)*var(--distance));
  --ycoord: calc(-1*sin(-30deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Meditation {
  background-color: #80b577;
  --xcoord: calc(cos(-60deg)*var(--distance));
  --ycoord: calc(-1*sin(-60deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}

#Forest {
  background-color: #80b577;
  --xcoord: calc(cos(-90deg)*var(--distance));
  --ycoord: calc(-1*sin(-90deg)*var(--distance));
  transform: translate(var(--xcoord), var(--ycoord)) rotate(0deg); 
}
