body {
    /*
    background-image: url("https://img.freepik.com/premium-photo/colorful-background-banner-template-decorative-design-layout-your-ideas-with-space-text_7954-6875.jpg?w=360");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
    background-color: #ffffc5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('font/SuisseIntl-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-snap-type: y mandatory;
}

.container {
    width: 100%;
    height: 50%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#intro {
    background: linear-gradient(#007480, #ffffc5);
}

.banner {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: left;
    Justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
    font-family: 'SuisseIntl';
    color: #fff;
}

.appetizer {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: large;
    font-family: 'SuisseIntl';
    color: #fff;
}

.appetizer .text {
    width: 60%;
    height: 100%;
}

.appetizer .text h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'SuisseIntl';
}

.appetizer .text p {
    margin-top: 20%;
    font-size: 22px;
    font-family: 'SuisseIntl';
}

.appetizer img {
    float: right;
    width: 90%;
    object-fit: contain;
}

#content {
    background-color: #ffffc5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.bubble img {
    max-width: 60%;
    max-height: 50%;
    object-fit: contain;
    z-index: 2;
}

.bubble span {
    font-size: 20px;
    object-fit: contain;
    font-family: 'SuisseIntl';
    z-index: 2;
    font-weight: 700;
}

.bubble:hover {
    z-index: 3;
}

.bubble:hover .smaller {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bubble:not(:hover) .smaller {
    transition: opacity 0.3s ease !important;
}

.smaller {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
}

.smaller a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.smaller img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.text-description {
    position: absolute;
    padding: 7px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    white-space: normal;
    width: 500%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    text-align: left;
    font-family: 'SuisseIntl';
    transition: opacity 0.2s ease;
}

.text-description h3 {
    margin: 0;
    font-family: 'SuisseIntl';
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.smaller:hover .text-description {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.text-description:hover {
    display: none;
}

.border {
    position: absolute;
    width: 318px;
    height: 318px;
    border-radius: 50%;
    z-index: 1;
}

/*category 1*/

#bubble1 {
    transform: translate(-400px, -125px) rotate(0deg);
}

#bubble1 .text-description {
    left: 100%;
    top: 0%;
}


#border1 {
    background: radial-gradient(circle farthest-side, #fff, #a6a7ff);
}

#EPFLCourses {
    background-color: transparent;
    transform: translate(0px, -126px) rotate(0deg);
    transition-delay: 0s;
}

#CSAWClimateSustainabilityActionWeek {
    background-color: transparent;
    transform: translate(-119px, -39px) rotate(0deg);
    transition-delay: 0.3s;
}

#lecanardhuppé {
    background-color: transparent;
    transform: translate(-74px, 102px) rotate(0deg);
    transition-delay: 0.6s;
}

#Fresqueduclimat {
    background-color: transparent;
    transform: translate(74px, 102px) rotate(0deg);
    transition-delay: 0.9s;
}

#Semainedeladurabilité {
    background-color: transparent;
    transform: translate(119px, -39px) rotate(0deg);
    transition-delay: 1.2s;
}

/*category 2*/

#bubble2 {
    transform: translate(-200px, 200px) rotate(0deg);
}

#bubble2 .text-description {
    left: 100%;
    bottom: 0%;
}

#border2 {
    background: radial-gradient(circle farthest-side, #fff, #fb8b0c);
}

#Slowtacarrière {
    background-color: transparent;
    transform: translate(0px, -126px) rotate(0deg);
    transition-delay: 0s;
}

#CoachingSustainability {
    background-color: transparent;
    transform: translate(-68px, -106px) rotate(0deg);
    transition-delay: 0.3s;
}

#associationdébouchésdurables {
    background-color: transparent;
    transform: translate(-114px, -52px) rotate(0deg);
    transition-delay: 0.6s;
}

#Pointvélo {
    background-color: transparent;
    transform: translate(-124px, 18px) rotate(0deg);
    transition-delay: 0.9s;
}

#Bibliothèqued’objets {
    background-color: transparent;
    transform: translate(-95px, 82px) rotate(0deg);
    transition-delay: 1.2s;
}

#Fixn’ReplaceRepaircafé {
    background-color: transparent;
    transform: translate(-35px, 120px) rotate(0deg);
    transition-delay: 1.5s;
}

#EpiceriecoopérativeleVorace {
    background-color: transparent;
    transform: translate(35px, 120px) rotate(0deg);
    transition-delay: 1.8s;
}

#MarchéEPFL {
    background-color: transparent;
    transform: translate(95px, 82px) rotate(0deg);
    transition-delay: 2.1s;
}

#PointSmartCellphones {
    background-color: transparent;
    transform: translate(124px, 18px) rotate(0deg);
    transition-delay: 2.4s;
}

#CastorFreegan {
    background-color: transparent;
    transform: translate(114px, -52px) rotate(0deg);
    transition-delay: 2.7s;
}

#Meubléco {
    background-color: transparent;
    transform: translate(68px, -106px) rotate(0deg);
    transition-delay: 3s;
}

/*category 3*/

#bubble3 {
    transform: translate(0px, -125px) rotate(0deg);
}

#bubble3 .text-description {
    left: 100%;
    top: 0%;
}

#border3 {
    background: radial-gradient(circle farthest-side, #fff, #95F823);
}

#LaConvergence {
    background-color: transparent;
    transform: translate(0px, -126px) rotate(0deg);
    transition-delay: 0s;
}

#Unipoly {
    background-color: transparent;
    transform: translate(-68px, -106px) rotate(0deg);
    transition-delay: 0.3s;
}

#Queermanence {
    background-color: transparent;
    transform: translate(-114px, -52px) rotate(0deg);
    transition-delay: 0.6s;
}

#Polyquity {
    background-color: transparent;
    transform: translate(-124px, 18px) rotate(0deg);
    transition-delay: 0.9s;
}

#PlanQueer {
    background-color: transparent;
    transform: translate(-95px, 82px) rotate(0deg);
    transition-delay: 1.2s;
}

#Ingénieur·esdumonde {
    background-color: transparent;
    transform: translate(-35px, 120px) rotate(0deg);
    transition-delay: 1.5s;
}

#AmnestydesHautesEcolesLausannoises {
    background-color: transparent;
    transform: translate(35px, 120px) rotate(0deg);
    transition-delay: 1.8s;
}

#ZeroEmissionGroup {
    background-color: transparent;
    transform: translate(95px, 82px) rotate(0deg);
    transition-delay: 2.1s;
}

#Associationdesétudiant·esvégan·esetanimalistes {
    background-color: transparent;
    transform: translate(124px, 18px) rotate(0deg);
    transition-delay: 2.4s;
}

#FermedeBassenges {
    background-color: transparent;
    transform: translate(114px, -52px) rotate(0deg);
    transition-delay: 2.7s;
}

#ThriftstoreUPFashionLab {
    background-color: transparent;
    transform: translate(68px, -106px) rotate(0deg);
    transition-delay: 3s;
}

/*category 4*/

#bubble4 {
    transform: translate(200px, 200px) rotate(0deg);
}

#bubble4 .text-description {
    right: 100%;
    bottom: 0%;
}

#border4 {
    background: radial-gradient(circle farthest-side, #fff , #ff70a6);
}

#Make {
    background-color: transparent;
    transform: translate(0px, -126px) rotate(0deg);
    transition-delay: 0s;
}

#Durabilis {
    background-color: transparent;
    transform: translate(-119px, -39px) rotate(0deg);
    transition-delay: 0.3s;
}

#Skil {
    background-color: transparent;
    transform: translate(-74px, 102px) rotate(0deg);
    transition-delay: 0.6s;
}

#EPFLChangemakers {
    background-color: transparent;
    transform: translate(74px, 102px) rotate(0deg);
    transition-delay: 0.9s;
}

#Ucreate {
    background-color: transparent;
    transform: translate(119px, -39px) rotate(0deg);
    transition-delay: 1.2s;
}

/*category 5*/

#bubble5 {
    transform: translate(400px, -125px) rotate(0deg);
}

#bubble5 .text-description {
    right: 100%;
    top: 0%;
}

#border5 {
    background: radial-gradient(circle farthest-side, #fff, #70d6ff);
}

#SportscenterEPFL-UNIL {
    background-color: transparent;
    transform: translate(0px, -126px) rotate(0deg);
    transition-delay: 0s;
}

#Espace-Transitions {
    background-color: transparent;
    transform: translate(-119px, -39px) rotate(0deg);
    transition-delay: 0.3s;
}

#TrustandSupportNetworkTSN {
    background-color: transparent;
    transform: translate(-74px, 102px) rotate(0deg);
    transition-delay: 0.6s;
}

#Guidedmeditation {
    background-color: transparent;
    transform: translate(74px, 102px) rotate(0deg);
    transition-delay: 0.9s;
}

#ForêtdeDorigny {
    background-color: transparent;
    transform: translate(119px, -39px) rotate(0deg);
    transition-delay: 1.2s;
}